<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="OCR binarization micro-service: convert the source image from grayscale to black and white." />
        <meta name="author" content="Jingchao Luan" />
        <title>OCR Binarization Micro-Service</title>
    </head>
    <body>
	<h2 align="center">OCR Binarization Micro-Service</h2>
	<br>
	<h4>Goal:</h4>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;Convert the source image from grayscale to black and white.</p>
        <h4>Usage:</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Call OCR binarization micro-service with url: "http://10.5.146.92:8001/binarizationapi".</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Input: the path of the origial image(s), and uploaded in form style.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;3. Output: a zip file containing all output files related to original images. Usually they are {imagename}.bin.png and {imagename}.nrm.png</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;4. E.g. 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For one image: curl -F "file=@path_to_image" -o name_of_output_file http://10.5.146.92:8001/binarizationapi
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For two images: curl -F "file1=@path_to_image1" -F "file2=@path_to_image2" -o name_of_output_file http://10.5.146.92:8001/binarizationapi</p>
    </body>
</html>
